@import url('https://fonts.googleapis.com/css2?family=Bookerly&family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5dc; /* Paper-like background */
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Bookerly', 'Merriweather', serif;
  background-color: var(--background);
  color: var(--foreground);
}
